{% extends "AppProyecto/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5"> Productos </h1>

{% endblock %}

{% block contenido_que_cambia %}
<form action="{% url 'productoformulario' %}" method="POST"> {% csrf_token %}
    <p> Nombre del producto <input type="text" name="nombre"></p>
    <p> Marca del producto <input type="text" name="marca"> </p>
    <p> Precio del producto <input type="number" name="precio"> </p>
    <input type="sumbit" value="Guardar Producto">
</form>
{% endblock %}