{% extends "AppProyecto/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5"> Sucursales </h1>

{% endblock %}

{% block contenido_que_cambia%}
<form action="{% url 'sucursalesformulario' %}" method="POST">{% csrf_token %}
    <P> pais: <input type="text" name="pais"></P>
    <p> ciudad: <input type="text" name="ciudad"></p>
    <p> direccion: <input type="text" name="direccion"> </p>
    <p> altura: <input type="number" name="altura"> </p>
    <input type="submit" value="Cargar">

</form>

{% endblock %}
